- content_for :title do
  Questions

- content_for :sidebar do
  - if can? :create, Question
    %section.ask
      = link_to "Ask a Question", new_resource_path, :class => "btn success"
  
  %section.support
    %h2 Support
    %p Having a problem running Hackety Hack? Found a bug? Check out our #{link_to "support section", ""}.
  

%ul.questions
  = render :partial => "list", :collection => collection

= will_paginate
