- content_for :title do
  -if @support
    Support Questions
  -else 
    Questions

- content_for :sidebar do
  = render :partial => "shared/ask"
  = render :partial => "shared/support"

%ul.questions
  = render :partial => "list", :collection => collection

= will_paginate
