- content_for :title do
  Questions
  
- content_for :links do
  - if can? :create, Question
    = link_to "Ask a Question", new_resource_path
  
%table
  %thead
    %th Title
    %th Description
  
    %th
    %th
    %th
  
  = render :partial => "list", :collection => collection
