- content_for :title do
  Questions

- content_for :sidebar do
  - if can? :create, Question
    = link_to "Ask a Question", new_resource_path, :class => "btn success"

%ul.questions
  = render :partial => "list", :collection => collection

= will_paginate
