:javascript
  $(document).ready(function(){
    $('#ask_button').click(
      function(){
        $('#the_form').show();
        $('#ask_button').remove();
      });
  });
- content_for :title do
  Questions
  
- content_for :links do
  - if can? :create, Question
    = link_to "New question", new_resource_path
  
%table
  %thead
    %th Title
    %th Description
  
    %th
    %th
    %th
  
  = render :partial => "list", :collection => collection
%div#the_form{:style=>'display:none'}
  = render "form"
- if current_user
  %h3#ask_button Ask a question
