<div id="tabs">
  <ul>
    <li><a href="#tabs-1">News</a></li>
    <li><a href="#tabs-2">Friends</a></li>
    <li><a href="#tabs-3">Messages</a></li>
  </ul>
  <div id="tabs-1">
  <p>blah blah blah</p>
  </div> <!-- end tab 1 -->
  <div id="tabs-2">
  <p>blah blah blah</p>
  </div> <!-- end tab 2 -->
  <div id="tabs-3">
  <%= link_to "Send a message", new_message_path %><br /><br />
  <% if @messages.count == 0 %>
    <p>Sorry, you don't have any messages.</p>
  <% end %>
  <% for message in @messages %>
  <div style="text-align:left;float:left;max-width:550px" ><%= image_tag message.sender.avatar_url, :style => "height:2em;" %><span style="vertical-align:super"><%= truncate message.text, :length => 45 %><%= link_to "(full)", message %></span></div><br style="clear:both" />
  <% end %>
  </div> <!-- end tab 3 -->
</div>


<% content_for :head do %>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css"
        type="text/css" rel="Stylesheet" />
    <script type="text/javascript"> 
    <!--//--><![CDATA[//><!--
    /*
     * for dom-enabled browsers, we add the 'js' class to the html element.
     * it allows us to avoid the flash of unstyled content for rich ui elements.
     * (strictly, the html element does not have a class attribute, but this works
     * in all current browsers.)
     */ 
    if (document.getElementById) {
      document.getElementsByTagName('html')[0].className = 'js'; 
    }
    //--><!]]> 
    </script>

<% end %>

<% content_for :view_javascript do %>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://www." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google.com/jsapi' type='text/javascript'%3E%3C/script%3E"));                    
  </script>

  <script type="text/javascript">
    <!--//--><![CDATA[//><!--
    google.load("jquery", "1.3.2"); 
    google.load("jqueryui", "1.7.0");
    //--><!]]>
  </script>

  <script type="text/javascript">
    $(function() {
        $("#tabs").tabs();
    });
  </script>

<% end %>
