  <%= link_to "Send a message", new_message_path %><br /><br />
  <% if @messages.length == 0 %>
    <p>Sorry, you don't have any messages.</p>
  <% end %>
  <% for message in @messages %>
  <div style="text-align:left;float:left;max-width:550px" ><%= link_to image_tag(message.sender.avatar_url, :style => "height:2em;"), user_path(message.sender.username) %><span style="vertical-align:super"><%= truncate message.text, :length => 45 %><%= link_to "(full)", message %></span></div><br style="clear:both" />
  <% end %>
