<p>
  <b>Recipient:</b>
  <%=h @message.recipient.username %>
</p>

<p>
  <b>Text:</b>
  <%=h @message.text %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
