<h1>A message</h1>

<h3>From <%= @message.sender.username.humanize %> to <%= @message.recipient.username.humanize %></h3><br />
<div style="width:550px;max-width:550px">
  <p><%=h @message.text %></p>
</div>

<br />
<br />
<%= link_to 'Back', dashboard_path %>
