%h1 Welcome to the Hackety Hack Forums
%p This is a place for Hackers to share what they've learned with others, ask questions, and make new friends!
%h2 The One Rule
%p 
	There's only one rule on the forum:
	%blockquote Be Excellent to One Another
	Follow this rule, and everything else will fall in place.

%h2 Three Forums
%p
	Here are the three different forums:
	%ul
		%li <a href="/forums/hackety_help">Hackety Help</a>: Help with Hackety Hack itself.
		%li <a href="/forums/learning_ruby">Learning Ruby</a>: Questions about the Ruby language.
		%li <a href="/forums/clubhouse">Clubhouse</a>: A place to talk about anything else.
	Click on a forum name to see the discussions in that forum.
