%ul
- @discussions.each do |discussion|
  %li
    %a{ :href => "/forums/#{@forum}/#{discussion.slug}" }= discussion.title

- unless current_user.nil?
  %a{:href => "/forums/#{@forum}/discussions/new"} New Discussion

%a{ :href => "/forums" } Back to Forum List
