body
	font-family: Arial, Verdana, sans
	background-image: url('/images/hhhello.png')
	background-repeat: no-repeat
	background-position: 100% 0%
	a
		color: #40ADA6

div#content
	border-style: solid
	border: 1px

nav
	position: absolute
	right: 170px
	top: 10px
	a
		text-decoration: none
		font-weight: bold

#pitch
	position: absolute
	max-width: 600px
	left: 20px
	top: 50px
	font-family: Arial, Verdana, sans
	background: #FFFFFF
	padding: 1em
	border: #000000 solid thick
	h1
		font-size: 1.5em
	h2
		padding: 1em 0em 0em 0em

.post
	font-family: Arial, Verdana, sans
	p
		padding: .5em
		margin: .25em
		font-size: 1.2em
	h1
		font-size: 2em
	h2
		font-size: 1.5em

td
	padding: 0.5em 0em 0.5em 0.5em

ul li
	list-style-type: disc
	margin-left: 20px
	padding: 3px
ul
	margin: 20px

ol li
	list-style-type: decimal
	margin-left: 1em
	margin-bottom: 1em
	margin-top: 1em

blockquote
	padding: 10px
	margin: 20px
	border: 2px solid #000

.left
	float: left

.right
	float: right

.comment_gravatar
	height: 50px
	width: 50px
	padding: 10px
	position: relative
	top: -15px

.comment
	p
        margin-left: 5em
        padding-bottom: 1em;

p.help
	margin-top: .5em
	margin-bottom: .5em

.question
	font-weight: bold
.answer
