%h1 Hackety Hack: the little coder's starter kit
%h2 Want to learn how to program?
%p Hackety Hack is the easiest way to learn computer programming.
%p Click the Shoes logo to grab Shoes, and the Hackety Logo to download v1.0-pre:
%br
%p
  %a{:href => "http://shoes.heroku.com/downloads"}
    %img{:src => "images/shoes-icon.png", :alt => "shoes"}
  %a{:href => "http://github.com/downloads/hacketyhack/hacketyhack/hacketyhack-v1.0-pre.shy"}
    %img{:src => "images/logo.png", :alt => "logo"}
  %br
  %p Then just choose 'open an app' and open the .shy!
  %hr
  %p
    Already know how to code? You'll want to
    %a{:href => "http://wiki.github.com/hacketyhack/hacketyhack/"}click here
  %br
  %p
    %img{:src => "images/hackety_screenshot.png", :alt => "screenshot"}


