.span-9
  %h2 Want to learn programming?
  %h2 Check out...
.span-7.prepend-2.last
  %p
    Already have Hackety Hack?
    %a{:href => "/login"} Log in
    here.
  %p
    Need some help?
    %a{:href => "/faq"} Read the FAQ
    or
    %a{:href => "/stream"} Ask a question
%br/
.span-9
  %img{:src => "/images/hackety_screenshot.png", :width => "300px"}/
  %br/
  %a.button{:href => "/download", :style => "margin-left:40px"}
    %span{:style => "font-size:2em"} Download v1.0
  %p{:style => "margin-left:70px"} Scroll down for more details!
%hr/
.span-9
  %h3 Hackety Hack will teach you the absolute basics of programming from the ground up. No previous programming experience is needed!
.span-9.last
  %h3
    With Hackety Hack, you'll learn the
    %a{:href => "http://ruby-lang.org"} Ruby programming language
    Ruby is used for all kinds of programs, including desktop applications and websites.
.span-18.last
  %img{:src => "/images/lesson_screenshot.png", :width => "700px"}/
  %div
    %br/
    %hr{:style => "height:1px;background-color:#000"}/
    .span-9
      %h3
        Hackety Hack uses the
        %a{:href => "http://shoesrb.com/"} Shoes
        toolkit to make it really easy and fun to build graphical interfaces.
    .span-9.last
      %h3 Several lessons and example programs are provided, showing you how to make all kinds of fun things!
    %img{:src => "/images/rubyplusshoes.png"}/
    %br/
    %hr{:style => "height:1px;background-color:#000"}/
  %div{:style => "padding-top:1em"}
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    :javascript 
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 4,
        interval: 6000,
        width: 250,
        height: 300,
        theme: {
          shell: {
            background: '#333333',
            color: '#ffffff'
          },
          tweets: {
            background: '#000000',
            color: '#ffffff',
            links: '#4aed05'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
        }
      }).render().setUser('hacketyhack').start();
.span-18.last
  %a{:href => "/tos"} Terms of Service
  %br/
  %br/

- content_for :head do
  :css 
    div.container { background-image: url("/images/hhhello.png"); }

