%h2 Want to learn programming?
%img{:src => "/images/hackety_screenshot.png", :width => "300px", :class => 'left'}/
%p.title 
  Hackety Hack will teach you the absolute basics of programming from the ground up. No previous programming experience is needed!
%p.title 
  With Hackety Hack, you'll learn the
  %a{:href => "http://ruby-lang.org"} Ruby programming language
  Ruby is used for all kinds of programs, including desktop applications and websites.
%br/
%a.button{:href => "/download", :style => "margin-left:40px"}
  %span{:style => "font-size:2em"} Download v1.0
%hr


%img{:src => "/images/lesson_screenshot.png", :width => "400px", :class=>"left"}/
%div
  %p.title
    Hackety Hack uses the
    %a{:href => "http://shoesrb.com/"} Shoes
    toolkit to make it really easy and fun to build graphical interfaces.
  %p.title
    Several lessons and example programs are provided, showing you how to make all kinds of fun things!
  %img{:src => "/images/rubyplusshoes.png", :width => "250px"}/



