%h1 Hackety Hack: the coder's starter kit
%h2 Want to learn how to program computers?
%p Hackety Hack is easy, simple, and free.
%p Click the Shoes logo to grab Shoes, and the Hackety Logo to download v0.9.3:
%br
%p
  %a{:href => "http://wiki.github.com/shoes/shoes/recentbuilds"}
    %img{:src => "images/shoes-icon.png", :alt => "shoes"}
  %img{:src => "images/logo.png", :alt => "logo"}
  %p
    Download Hackety
  %br
  %p
    Already know how to code? You'll want to
    %a{:href => "http://wiki.github.com/hacketyhack/hacketyhack/"}click here
  %br
  %p
    %img{:src => "images/hackety_screenshot.png", :alt => "screenshot"}


