!!! 5
%html
	%head
		%title Hackety Hack
		%link{:rel => "stylesheet", :href => "/stylesheets/reset.css", :type => 'text/css'}
		%link{:rel => "stylesheet", :href => "/stylesheets/site.css", :type => 'text/css'}
		%link{:rel => "stylesheet", :href => "/stylesheets/ruby.css", :type => 'text/css'}
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-10499799-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
			})();

	%body
		%nav{:style => "float:right;"}
			<a href="/">Home</a> \
			<a href="/blog">Blog</a> \
			<a href="/help">Help</a> \
			<a href="/forums">Forums</a> \
			- if logged_in?
				<a href="/hackers/#{current_user.username}">Your Page</a> \
				<a href="/logout">Log out</a>
			- else 
				<a href="/signup">Sign Up</a> \
				<a href="/login">Log in</a>
		%div{:id => "flash-notice"}= flash[:notice]
		%div{:id => "flash-error"}= flash[:error]
		%div{:id => "pitch", :class => "clearfix"}
			!= yield
