<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->

<script src="/js/jquery-1.4.4.min.js" type="text/javascript" ></script>
<script src="/js/jquery-ui-1.8.7.custom.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/css/black-tie/jquery-ui-1.8.7.custom.css" type="text/css" />


<style>
@font-face {
font-family: 'ChunkFiveRegular';
src: url('/fonts/Chunkfive-webfont.eot');
src: local('☺'), url('/fonts/Chunkfive-webfont.woff') format('woff'), url('/fonts/Chunkfive-webfont.ttf') format('truetype'), url('/fonts/Chunkfive-webfont.svg') format('svg');
font-weight: normal;
font-style: normal;
}

h1 { font-family: 'Helvetica', arial, serif; font-size: 6em; }
h2 { 
font: 2em 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
color:#3C3E3B}
p.body { font: 2em 'ChunkFiveRegular', Arial, sans-serif; letter-spacing: 0;
color:#3C3E3B}
p.body a {color:#3C3E9B}
p.body a:visited {color:#3C3E6B}
div.container {
background:#DCDCDC;
background-image: url("/images/hhhello.png");
background-repeat: no-repeat;
background-position: 100% 0%; }

</style>

</head>
<body style="background-image:url('/images/stripe.png')">
= yield
</body>
</html>

