:markdown

  # Hackety-Hack.com

  _Hackety-Hack.com is_ the website you're looking at.

  - [Website](http://hackety-hack.com) (duh)
  - License: ?
  - [Source Code](https://github.com/hacketyhack/hackety-hack.com)

  ## Ruby

  _Ruby is_ the programming language that Hackety-Hack.com is written in.

  - [Website](http://ruby-lang.org)
  - License: the [Ruby License](http://www.ruby-lang.org/en/LICENSE.txt)
  - [Source Code](http://github.com/ruby/ruby)

  ## Sinatra

  _Sinatra is_ the web framework that we use.

  - [Website](http://sinatrarb.com)
  - License: [MIT](https://github.com/sinatra/sinatra/raw/79032f794175bd9f712751cfbd004315b8ddf8f2/LICENSE)
  - [Source Code](https://github.com/sinatra/sinatra)

  ## Mongodb

  _MongoDB is_ the database that powers Hackety-Hack.com.

  - [Website](http://mongodb.org)
  - License: [AGPLv3](https://github.com/mongodb/mongo/raw/master/GNU-AGPL-3.0.txt)
  - [Source Code](https://github.com/mongodb/mongo)

  # Hackety Hack
  _Hackety Hack is_ a Shoes application to learn programming in Ruby.

  - [Website](http://hackety-hack.com/)
  - License: ?
  - [Source Code](http://github.com/hacketyhack/hackety-hack.com)

  ## Ruby
  _Ruby is_ the programming language that Hackety Hack is written in.

  - [Website](http://ruby-lang.org)
  - License: the [Ruby License](http://www.ruby-lang.org/en/LICENSE.txt)
  - [Source Code](http://github.com/ruby/ruby)

  ## Shoes
  _Shoes is_ the ruby GUI toolkit that creates the Hackety Hack UI.

  - [Website](http://shoesrb.com/)
  - License: ?
  - [Source Code](http://github.com/shoes/shoes)

