%h1= @post.title
%p= @post.body

%hr

%ul
  - @post.comments.each do |comment|
    %li= comment.body

%form{:action => "/comments", :method => "POST"}
  %input{:type => "hidden", :id => "post_id", :name => "post_id", :value => @post.id}
  %label{:for => "comment_body"}Speak your mind:
  %textarea{:id => "comment_body", :name => "comment[body]"}
  %input{:type => "submit", :value => "Submit comment"}

