.span-18.last
  #infobox{:style => "border:black 1px solid;padding:10px;margin:10px;"}
    Hello there! This is the website for Hackety Hack. You can ask a question, share programs that you've made, or just tell everyone something. Don't forget, you should <a href="http://hackety-hack.com/download">download Hackety Hack</a>, it will teach you everything you need to get started with programming! This is just a place to participate in the Hackety Hack community.
.span-18.last
  - if logged_in?
    %ul#input_list
      %li{:style => "display:inline"}
        %a#question_button.button{:href => "#"} Ask a question
      %li{:style => "display:inline"}
        %a#link_button.button{:href => "#"} Share a link
      %li{:style => "display:inline"}
        %a#post_button.button{:href => "#"} Tell everyone something
    %form#link_form{:action => "/content", :style => "display:none", :method => "POST"}
      %label{:for => "link"} Share a link
      %a.cancel{:href => "#"} x
      %br/
      %input#link{ :name => "content[body]", :size => "76", :type => "textbox"}/
      %input{ :name => "content[type]", :type => "hidden", :value => "link"}/
      %br/
      %input.button{:type => "submit"}
    %form#post_form{:action => "/content", :style => "display:none", :method => "POST"}
      %label{:for => "post"} Tell everyone something
      %a.cancel{:href => "#"} x
      %br/
      %textarea#post{ :name => "content[body]" }
      %input{ :name => "content[type]", :type => "hidden", :value => "post"}/
      %br/
      Comments are formatted via 
      %a{:href => "http://daringfireball.net/projects/markdown/syntax"} Markdown
      %br/
      %input.button{:type => "submit"}
    %form#question_form{:action => "/content", :style => "display:none", :method => "POST"}
      %label{:for => "question"} Ask a question
      %a.cancel{:href => "#"} x
      %br/
      %textarea#question{:name => "content[body]"}
      %input{ :name => "content[type]", :type => "hidden", :value => "question"}/
      %br/
      Comments are formatted via 
      %a{:href => "http://daringfireball.net/projects/markdown/syntax"} Markdown
      %br/
      %input.button{:type => "submit"}
  - else
    %a{:href => "/login"} Please log in to post something.
.span-18
  %h2 Here's what everyone else is up to!
  %ul{:style => "list-style:none"}
    - @content_list.each do |content|
      %li{:style => "height:70px"}
        %img{:height => "64", :src => content.image, :style => "float:left"}/
        %p{:class => "vertical-center-text"}
          %a{:href => "/hackers/#{content.author}"}= content.author
          shared a
          %a{:href => "/content/#{content.id}"}= content.type
          \: "#{content.body[0,50]}..." (#{content.comments.length} comments)

- content_for :head do
  :javascript
    $(function() {
      $( ".button").button();

      $("#question_button").click(function() {
        $('form').each(function(idx, elem) {
          if($(elem).is(':visible')) {
            $(elem).hide("blind");
          }
        });
        $("#question_form").show("blind");
      });
      $("#post_button").click(function() {
        $('form').each(function(idx, elem) {
          if($(elem).is(':visible')) {
            $(elem).hide("blind");
          }
        });
        $("#post_form").show("blind");
      });
      $("#link_button").click(function() {
        $('form').each(function(idx, elem) {
          if($(elem).is(':visible')) {
            $(elem).hide("blind");
          }
        });
        $("#link_form").show("blind");
      });

      $("a.cancel").click(function() {
        //$("#input_list").show("blind");
        $('form').each(function(idx, elem) {
          if($(elem).is(':visible')) {
            $(elem).hide("blind");
          }
        });
      });
    });

