%h1 Hackety Hack Terms of Service

%p Be nice. I reserve the right to do whatever I want with this website, and I don't make any guarantees about its operation at all.

%p If you do something bad, don't expect me to tolerate it.

%p If you don't know if something is bad or good, or have any questions about anything, <a href="mailto:steve+hackety@steveklabnik.com">email me</a> and we'll talk about it.

