@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('/fonts/Chunkfive-webfont.eot');
  src: local('☺'), url('/fonts/Chunkfive-webfont.woff') format('woff'), url('/fonts/Chunkfive-webfont.ttf') format('truetype'), url('/fonts/Chunkfive-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 { 
  font-family: 'ChunkFiveRegular', arial, serif;
  font-size: 3em;
}
h2 { 
  font: 2em 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
  color:#3C3E3B
}
h3 { 
  font: 2em 'ChunkFiveRegular', Arial, sans-serif; letter-spacing: 0;
  color:#3C3E3B
}
h3 a {color:#3C3E9B}
h3 a:visited {color:#3C3E6B}

p.title { 
  font: 1.5em 'ChunkFiveRegular', Arial, sans-serif; letter-spacing: 0;
  color:#3C3E3B
}

p.body { 
  font: 1.5em 'Helvetica', Arial, sans-serif; letter-spacing: 0;
  color:#3C3E3B
}

div.container {
  background:#DCDCDC;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
hr {
  height:1px;
  background-color:#000;
}
.vertical-center-text {
  padding-top:20px;
  padding-left:80px;
}
