- content_for :title do
  <%= plural_table_name.capitalize %>

- content_for :links do
  - if can? :create, <%= singular_table_name.classify %>
    = link_to "New <%= singular_table_name %>", new_resource_path

%table
  %thead
<% for attribute in attributes -%>
    %th <%= attribute.human_name %>
<% end -%>
    %th
    %th
    %th

  = render :partial => "list", :collection => collection
