- content_for :title do
  = resource

- content_for :links do
  - if can? :update, resource
    = link_to 'Edit', edit_resource_path
  - if can? :destroy, resource
    = link_to 'Delete', resource_path, :confirm => 'Are you sure?', :method => :delete

%dl
<% for attribute in attributes -%>
  %dt <%= attribute.human_name %>
  %dd= resource.<%= attribute.name %>
<% end -%>
