.span-18.last
  %h1 Your Messages
  %ul
  - @messages.each do |message|
    %li{:style => "list-style:none"}
      %h2 From: #{message.sender}
      :markdown 
        #{message.body} 
      %a{:href => "/messages/new/to/#{message.sender}"} (reply)
    %hr

