.span-9
  %img{:height => "64", :src => "/images/logo.png", :style => "float:left"}/
  %p.body{:style => "padding-top:20px;padding-left:80px"} Hackety Hack
- if logged_in?
  .span-6.prepend-3.last
    %ul
      %li{:style => "display:inline"}
        %a{:href => "/download"} Download
      |
      %li{:style => "display:inline"}
        %a{:href => "/hackers/#{current_user.username.to_slug}"} My Page
      |
      %li{:style => "display:inline"}
        %a{:href => "/logout"} Log out
- else
  .span-4.prepend-5.last
    %ul
      %li{:style => "display:inline"}
        %a{:href => "/download"} Download
      |
      %li{:style => "display:inline"}
        %a{:href => "/login"} Log in
.span-18.last
  %h2 Sending a message to #{@username}
  %form{:action => "/messages", :method => "POST"}
    %input{:type => "hidden", :id => "message_recipient", :name => "message[recipient]", :value => @username}
    %br/
    %label{:for => "message_body" } Message text:
    %br/
    %textarea{:id => "message_body", :name => "message[body]"}
    %br/
    %input{:type => "submit", :value => "Send message", :class => "button"}

