- content_for :title do
  Programs

- unless @featured.blank?
  #featured.programs
    .heading
      %h3 Featured
      .description Our favorite selection of projects.

    %ul
      - @featured.each do |program|
        %li
          .title= program_link program
          .author= author_link program.author_username

#all-programs.programs
  .heading
    %h3 All Programs
    .description Every program uploaded by our users!

  %ul
    - @programs.each do |program|
      %li
        .title= program_link program
        .author= author_link program.author_username
