%h1 New Discussion in #{forum_name @forum}

%form{:action => "/forums/#{@forum}/discussions", :method => "POST"}
	%label{:for => "discussion_title"} Title: 
	%br
	%input{:type => "text", :name => "title", :id => "discussion_title"}
	%br
	%label{:for => "discussion_body"} Body:
	%br
	%textarea{:name => "body", :id => "discussion_body", :rows => 20, :cols => 50}
	%br
	%input{ :type => "submit", :value => "Submit" }
