body {
}

#hello {
	position:absolute;
	right: 0px;
}

#nav {
	position: absolute;
	right: 170px;
	top: 10px;
}

#pitch {
	position: absolute;
  max-width:550px;
	left: 20px;
	top: 250px;
	font-family: Arial, Verdana, sans;
	background: #FFFFFF;
	padding: 1em;
	border: #000000 solid thick;
}

#pitch h1 {
	font-size: 1.5em;
}

#pitch h2 {

	padding:1em 0em 0em 0em;
}

#pitch p {
}

#posts {
	position: relative;
  max-width:550px;
	left: 20px;
	top: 50px;
	font-family: Arial, Verdana, sans;
	background: #FFFFFF;
	padding: 1em;
	border: #000000 solid thick;
}

#posts h1 {
	font-size: 1.5em;
}

#posts h2 {

	padding:1em 0em 0em 0em;
}

td {
	padding: 0.5em 0em 0.5em 0.5em;
}

ul li { 
  list-style-type: disc;
  margin-left: 20px;
}
ol li { 
  list-style-type: decimal;
  margin-left: 20px;
}
 

