%section.lessons
  %h2 Want to help?
  %p Help us create new lessons, or update existing ones. Check out the Lessons project on Github below:
  = link_to "Hackety Hack Lessons on Github", "https://github.com/hacketyhack/hackety_hack-lessons"