%section.support
  %h2 Support
  %p Having a problem running Hackety Hack? Found a bug? Check out the #{link_to "support section", support_questions_path}

  %a.href auto_discovery_link_tag(:rss, questions_url)
