<h1>Hackety Hack: the coder's starter kit</h1>
<h2>Want to learn programming?</h2>
<p>Hackety Hack is easy, simple, and free.</p>
<p>Download: 
  <%= link_to "Mac" %>
  <%= link_to "PC" %>
  <%= link_to "Linux" %>
</p>
