<h1>Hackety Hack: the coder's starter kit</h1>
<h2>Want to learn programming?</h2>
<p>Hackety Hack is easy, simple, and free.</p>
<p><%= link_to "Download", "http://github.com/steveklabnik/hacketyhack/downloads" %> (you'll also need <%= link_to "shoooes", "http://github.com/shoes/shoes/downloads" %>)
</p>
