- content_for :title do
  Answers

- content_for :links do
  - if can? :create, Answer
    = link_to "New answer", new_resource_path

%ul.answers
  = render :partial => "list", :collection => collection
