= semantic_menu :class => "pills" do |root|
  - root.add "Home", root_path
  - root.add "Blog", blog_path
  - root.add "Questions", questions_path
  - root.add "Programs", programs_path
  - root.add "FAQ", faq_path
  - root.add "Support", support_questions_path
  
