.span-18.last
  %h1 Explore Programs
.span-9
  %h2 Featured Programs
  %ul
    %li
      %a{:href => "http://hackety-hack.com/programs/wilkie/connect_four"} Connect Four
      , by 
      %a{:href => "http://hackety-hack.com/hackers/wilkie"} wilkie
    %li
      %a{:href => "http://hackety-hack.com/programs/cyber/calender_basic"} Calender basic
      , by 
      %a{:href => "http://hackety-hack.com/hackers/cyber"} cyber
    %li
      %a{:href => "http://hackety-hack.com/programs/wilkie/invaders"} Space Invaders
      , by 
      %a{:href => "http://hackety-hack.com/hackers/wilkie"} wilkie
    %li
      %a{:href => "http://hackety-hack.com/programs/frog/turtle_fun"} Turtle Fun
      , by 
      %a{:href => "http://hackety-hack.com/hackers/frog"} frog
.span-9.last
  %h2 Recent Programs
  %ul
    - @programs.each do |program|
      %li
        %a{:href => "/programs/#{program.creator_username}/#{program.slug}"}= program.title
        , by 
        %a{:href => "/hackers/#{program.creator_username}"}= program.creator_username
