%form{:action => "/programs", :method => "POST"}
  %label{:for => "program_title"} Title
  %input{:type => "text", :id => "program_title", :name => "program[title]"} 
  %label{:for => "program_body"} Body
  %input{:type => "text", :id => "program_body", :name => "program[body]"} 
  %input{:type => "submit", :value => "Create" }
