%h1 Hackety Help!
%p.help This page is intended to be used by people who need help with using Hackety Hack. If you'd like to help develop Hackety Hack itself, please check out our <a href="http://wiki.github.com/hacketyhack/hacketyhack/">GitHub</a>.

%h2 Ruby Resources

%p Check out the <a href="/help/ruby_resources">Ruby Resources</a> page for a list of great links for learning Ruby.

%h2 FAQ

%ol
	%li 
		.question What is Hackety Hack?
		.answer Hackety Hack is an easy to use environment to learn how to program.
	%li 
		.question What programming language does Hackety Hack use?
		.answer All programs written in Hackety Hack use the <a href="http://ruby-lang.org">Ruby programming language</a>. Hackety Hack itself is also written in Ruby!
	%li 
		.question Does it cost anything?
		.answer Hackety Hack is currently and will always be 100% free. Information about programming should be spread far and wide, and available to all.
	%li 
		.question How do I download Hackety Hack?
		.answer There's a link to download Hackety on the <a href="http://hackety-hack.com">main page</a>.
	%li 
		.question How do I install Hackety Hack?
		.answer
			This question has three answers. It depends on what kind of computer you have:
			%ul
				%li
					.question Windows
					.answer The download is an .exe file, that runs an installer. Just double click, and you're good to go!
				%li
					.question Mac
					.answer The download is a .dmg file, which should open after downloading. Inside, you'll find HacketyHack.app, and a link to your Applications folder. Just drag HacketyHack.app to the link, and it'll copy Hackety Hack onto your computer. You can close the window afterward, eject the drive, and throw the .dmg in your trash.
				%li
					.question Linux
					.answer Just double click the .run file you download, and Hackety will unzip and run. Eventually, we'll provide a .deb and .rpm file, but right now, just use the .run.
	%li 
		.question Where can I get more help?
		.answer We have a section on the site just for this! Check out <a href="/forums/hackety_help">the Hackety Hack help forum</a>.
