%p This page is intended to be used by people who need help with using Hackety Hack. If you'd like to help develop Hackety Hack, please check out our <a href="http://wiki.github.com/hacketyhack/hacketyhack/">GitHub</a>.

%p Nobody's asked any questions yet, so I don't have any help to write! If you have a problem, please <a href="mailto:steve+hackety@steveklabnik.com">send Steve an email</a>, and he'll be more than happy to help.
