%h1 Ruby Resources

%p Here are some different ways to learn about Ruby programming. If I'm missing something great that should be on this list, please let me know!

%ul
  %li
    %a{:href => "http://hackety-hack.com/forums/learning_ruby"} Hackety Hack Forums: Learning Ruby
  %li
    %a{:href => "http://mislav.uniqpath.com/poignant-guide/"} _why's (Poignant) Guide to Ruby
  %li
    %a{:href => "http://tryruby.org"} Try Ruby!

%p Here are some reference materials:

%ul
  %li
    %a{:href => "http://ruby-lang.org"} Official Ruby Website
