- content_for :sidebar do
  = render :partial => "shared/ask"
  = render :partial => "shared/support_blurb"

- content_for :title do
  Contribute

#Contribute
  :markdown
    Volunteers build Hackty Hack - want to help and join us to improve Hackety Hack?

    ## Want to help developing Hackety Hack?

    Both this web application and the Hackety Hack program itself are open source projects. This means volunteers build them, but it also means that you can jump in and help out! How cool would that be, right?

    You can help out with the development of this web application [here](https://github.com/hacketyhack/hackety-hack.com) and with the the development of the Hackety Hack program [here](https://github.com/hacketyhack/hacketyhack).

    Every contribution is very welcome! It can be a fixed typo, an issue report or an entirely new feature - that is up to you! Thanks in advance!

    ## Want to help us translate Hackety Hack?

    Hello everyone!

    We are in the process of translating Hackety Hack into as many foreign languages as possible so that people around the world can use the site with ease.
    
    If you are bilingual and interested in helping us make Hackety Hack a truly global phenomenon, accessible by all regardless of location or nationality and make learning Ruby even more fun, then please [sign up here!](http://crowdin.net/project/hackety-hackcom/invite)
