- content_for :sidebar do
  = render :partial => "shared/ask"
  = render :partial => "shared/support_blurb"

- content_for :title do
  Contributing page 

#Contribute
  :markdown
    ##Want to help us translate Hackety Hack?

    Hello everyone!

    We are in the process of translating Hackety Hack into as many foreign languages as possible so that people           around the world can use the site with ease. 
    
    If you are bilingual and interested in helping us make Hackety Hack a truly global phenomenon, accessible by all      regardless of location or nationality and make learning Ruby even more fun, then please [sign up here!](http://crowdin.net/project/hackety-hackcom/invite)
