%h1 Want to learn to program?
%p Hackety Hack will teach you the absolute basics of programming from the ground up. No previous programming experience is needed!
%p With Hackety Hack, you'll learn the #{link_to "Ruby programming language", "http://www.ruby-lang.org/"}. Ruby is used for all kinds of programs, including desktop applications and websites.

