=simple_form_for(@message, :url => mailer_path) do |f| 
	=f.error_notification
	.inputs
		=f.input :subject, :hint => "Write the subject here!"
		=f.input :body, :as => :text
		=f.input :email, :as => :hidden, :input_html => { :value => @emails }
	.actions
		=f.button :submit , 'Send Email', :class => "primary btn"