%hr/
%br/
%h1 Make a Hackety Hack Account
%p.body
  Hackety Hack has close integration with this website. You can sign up with an account here, and you'll be able to upload and share the programs you create with others.
%form{:action => "/signup", :method => "post"}
  %table
    %tr
      %td
        %label{:for => "user_email"} Email
      %td
        %input{ :id => "user_email", :name => "user[email]", :size => 30, :type => "text" }
    %tr
      %td
        %label{:for => "user_username"} Username
      %td
        %input{ :id => "user_username", :name => "user[username]", :size => 30, :type => "text" }
    %tr
      %td
        %label{:for => "user_password"} Password
      %td
        %input{ :id => "user_password", :name => "user[password]", :size => 30, :type => "password" }
    %tr
      %td
        %label{:for => "user_password_confirmation"} Confirm Password
      %td
        %input{ :id => "user_password_confirmation", :name => "user[password_confirmation]", :size => 30, :type => "password" }
    %tr
      %td
        %label{:for => "user_about"} About Yourself
      %td
        %textarea{ :id => "user_about", :name => "user[about]", :rows => 10, :cols => 30 }
    %tr
      %td
      %td
        %input{ :value => "Create account", :type => "submit", :class => "button" }
        or 
        %a{:href => "/login"} Log in
        if you have one!
%br/
%br/
%br/
