%h1= @post.title
- markdown = RDiscount.new(@post.body, :smart, :filter_html)
%p!= markdown.to_html

%hr

%ul
  - @post.comments.each do |comment|
    %li= comment.user_email + " says: " + comment.body

- if logged_in?
  %form{:action => "/comments", :method => "POST"}
    %input{:type => "hidden", :id => "post_id", :name => "post_id", :value => @post.id}
    %label{:for => "comment_body"}Speak your mind:
    %textarea{:id => "comment_body", :name => "comment[body]"}
    %input{:type => "submit", :value => "Submit comment"}

%hr
%a{:href => "/blog"}Back to blog

