p {
  margin-bottom: 1em;
}

h1 {

}

h2 {
  font-size: 1.75em;
  margin-bottom: 0.5em;
}

.block-message {
  margin-bottom: 0.5em;
  p {
    margin-bottom: 1em;
  }
}

ul.inline-menu {
  @include clearfix;
  list-style-type: none;
  margin: 0;
  li {
    float: left;
    padding-right: 1em;
    border-right: 1px solid #ccc;
    margin-right: 1em;
  }
  li:last-child {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.bottom-nav {
  border-top: 1px solid #ccc;
  padding-top: 1.5em;
}