.home {
  section {
    @include clearfix;
    margin: 0 36px 36px;
    padding-bottom: 36px;
    border-bottom: 6px dotted $linkColor;
    
    font-size: 1.7em;

    h1 {
      font-size: 1.6em;
    }
    p {
      font-size: 1em;
      line-height: 1.5em;
      margin-bottom: 1em;
    }
    
    img.new_program {
      @include columns(5);
    }
    img.lesson {
      @include columns(8);
      float: right;
      margin-right: 0;
      margin-left: $gridGutterWidth*2;

    }
  }
  
  section.last {
    border: none;
    margin-bottom: 0;
  }
}