.home {
  section {
    @include clearfix;
    margin: 0 36px 36px 18px;
    padding-bottom: 36px;
    border-bottom: 6px dotted $linkColor;
    
    font-size: 1.7em;

    h1 {
      font-size: 1.6em;
    }
    p {
      font-size: 1em;
      line-height: 1.5em;
      margin-bottom: 1em;
    }
    
    img.new_program {
      @include columns(5);
    }
    img.lesson {
      @include columns(8);
      float: right;
      margin-right: 0;
      margin-left: $gridGutterWidth*2;

    }
  }
  
  section.last {
    border: none;
    margin-bottom: 0;
  }
}

@-webkit-keyframes sway {
  0% {
    -webkit-transform: rotate(-2deg);
    -webkit-transform-origin: 50% 0;
  }
  100% {
    -webkit-transform: rotate(3deg);
    -webkit-transform-origin: 50% 0;
  }
}

#stars {
  z-index: 100;
  width: 960px;
  margin: auto;
  position: relative;

  .star, .moon {
    position: absolute;
    left: 0;
    width:67px;
    height: 200px;
    background: url("/assets/star.png");
    
    -webkit-animation: sway 1.25s infinite alternate;
    -webkit-animation-timing-function: ease-in-out; 
  }
   
  .moon {
    background: url("/assets/moon.png");
    left: -130px;
    top: -30px;
  }
   .star1 {
     left: -175px;
     top: -70px;
   }
   .star2 {
     left: -100px;
   }
   .star3 {
     left: -75px;
     top: -50px;
   }
   .star4 {
     left: auto;
     right: -100px;
     top: -80px;
   }
   .star5 {
     left: auto;
     right: -120px;
     top: -10px;
   }
   .star6 {
     left: auto;
     right: -60px;   
     top: -30px;  
   }
}

