form {
  input, textarea {
    width: 350px;
  }

  input.boolean {
    margin: 0.75em 0 0 1.5em;
  }

  .help-inline {
    display: block;
    padding-top: 5px;
    margin-left: 150px;
  }

  textarea {
    height: 200px;
  }
  
}