@-webkit-keyframes sway {
  0% {
    -webkit-transform: rotate(-2deg);
    -webkit-transform-origin: 50% 0;
  }
  100% {
    -webkit-transform: rotate(2deg);
    -webkit-transform-origin: 50% 0;
  }
}

.body-home {
  #stars {
    z-index: 100;
    width: 960px;
    margin: auto;
    position: relative;
/*    overflow: hidden;*/

    .star, .moon {
      position: absolute;
      left: 0;
      width:67px;
      height: 200px;
      margin-top: -50px;
      background: url("/assets/star.png");

      -webkit-animation: sway 2.5s ease-in-out infinite alternate;
    }

    .star1 {
      left: -50px;
      top: -70px;
    }
    .moon {
      background: url("/assets/moon.png");
      left: -20px;
      top: -30px;
    }
     .star2 {
       left: 10px;
     }
     .star3 {
       left: 35px;
       top: -50px;
     }
     .star4 {
       left: auto;
       right: 20px;
       top: -80px;
     }
     .star5 {
       left: auto;
       right: -10px;
       top: -10px;
     }
     .star6 {
       left: auto;
       right: -50px;   
       top: -50px;  
     }
  }
  
  #home-splash {
    border-top: 1px solid $heading + #444;
    .container {
      padding: 0;
      width: 976px;
    }
  }
}

.body-home #content-wrap {
  .container {
    padding-top: 0;
  }
  
  border-top: none;
  section {
    @include clearfix;
    background: white;
    padding-bottom: 1em;
    
    p {
      font-size: 1.25em;
      line-height: 1.75em;
      padding-bottom: 0.75em;
    }

    h1 {
      font-size: 3em;
      margin: 0 -18px 0.5em;
      padding: 0.5em 18px;
      color: white;
      border-bottom: 6px solid black;
    }

  }
  
  #download {
    background: white url("download.png") 0 4em no-repeat;
    h1 {
      background: $green;
      border-color: $green - #222;
    }
    .btn {
      @include columns(4);
      @include offset(5);
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
      
      .download {
        text-transform: uppercase;
        margin-bottom: 1em;
      }
      .version {
        font-size: 0.8em;
      }
    }
    .content {
      @include columns(10);
      @include offset(5);
    }
  }
  
  #explore {
    background: white url("explore.png") 95% 7em no-repeat;
    h1 {
      background: $heading;
      border-color: $heading - #111;
    }
    .content {
      @include columns(10);
      margin-left: 2em;
    }
  }
  
  #ask {
    background: white url("ask.png") 0 7em no-repeat;
    min-height: 340px;

    h1 {
      background: $orangered;
      border-color: $orangered - #222;
    }
    .content {
      @include columns(10);
      @include offset(5);
    }
  }
}

/*.body-home #content-wrap {
  border-top: none;*/
/*  section {
    @include clearfix;
    margin: 0 36px 36px 18px;
    padding-bottom: 36px;
    border-bottom: 6px dotted $linkColor;
    
    font-size: 1.7em;

    h1 {
      font-size: 1.6em;
    }
    p {
      font-size: 1em;
      line-height: 1.5em;
      margin-bottom: 1em;
    }
    
    img.new_program {
      @include columns(5);
    }
    img.lesson {
      @include columns(8);
      float: right;
      margin-right: 0;
      margin-left: $gridGutterWidth*2;

    }
  }
  
  section.last {
    border: none;
    margin-bottom: 0;
  }
}*/
