body {
  background: $background;
}

.topbar {
  position: relative;  
  height: auto;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
  border-bottom: 1px solid $heading + #444;
}

header .topbar-inner {  
  background: $heading;
  .container {
    padding: 0.6em 0;
  }
  
  li a {
    border-radius: 8px;
    font-size: 14px;
    padding: 11px 11px 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  li a:hover {
    background-color: #444;
    text-shadow: none;
  }

  #logo {
    float: left;
    margin-left: -40px;
    width: 185px;
    height: 40px;
  
    a {
      position: absolute;
      top: -2px;
      height: 75px;
      padding: 0;
      width: 185px;
      display: block;
      background: url('/assets/logo-star.png') no-repeat;
      text-indent: -9999px;
    }
  }
}

#content-wrap {
  border-top: 1px solid ($heading + #444);
  margin: auto;
  
  .container {
    position: relative;
  }  
}

#content-wrap > .container { 
  background: white;
  border-radius: 0 0 8px 8px;
  padding: 40px 18px 18px;
}

.two-column {
  #content {
    @include columns(11);
  }
  
  #sidebar {
    @include columns(5, true);
  }
  
}

.alert-message {
  margin-top: -18px;
  margin-bottom: 30px;
}

footer {
  background: $heading;
  padding: 0.5em 0;
  
  .pills {
    margin: 0;
    a {
      color: white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    }
    a:hover {
      background-color: #444;
    }
  } 
}