.programs {

  margin-bottom: 2em;
  .heading {
    @include clearfix;
    padding: 0.75em;
    background: $green;

    h3, .description {
      color: white;
    }

    h3 {
      float: left;
      margin-bottom: 0;
      margin-right: 1em;
    }
    .description {
      float: left;
      margin-top: 0.2em;
    }
  }


  ul {
    @include clearfix;
    margin: 0;
    padding-top: 1em;

    li {
      @include columns(5);
      padding: 0.75em 0;
      border-top: 1px solid #ddd;

      .title {
        font-weight: bold;
        margin-bottom: 0.1em;
      }

      .author {
        a {
          font-style: italic;
          color: lighten($text-color, 20%);
        }
      }
    }
    li:nth-child(3n+1) {
      clear: both;
    }
  }
}

#featured {
  .heading {
    background: $orangered;
  }
}