.questions, .question {
  h1 {
    line-height: 1.1;
    margin-bottom: 0.15em;
  }
  .meta {
    a { 
      font-style: italic;
    }
    font-style: italic;
    padding-bottom: 0.75em;
  }
}

.questions {
  margin: 0;
  li {
    @include clearfix;
    list-style-type: none;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;

    .answer-count {
      text-align: center;
      font-size: 0.85em;
      h3 {
        margin: 0;
        font-size: 2em;
      }
      @include columns(1);
      padding: 6px
    }
      .unanswered, .unanswered h3 {
        color: $orangered;
      }
      .answered, .answered h3 {
        background: $green;
        color: white;
      }
    
    .summary {
      @include columns(9, last);
      
      h2 {
        line-height: 1;
        margin-bottom: 0.15em;
      }
      .description {
        padding-right: 3em;
      }
    }
  }
}

.question {
  color: #555;
  p {
    font-size: 1.15em;
    line-height: 1.5;
    margin-bottom: 1.25em;
  }
  
  h2 {
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #bbb;
  }

  .answers {
    margin: 0;
    .answer {
      position: relative;
      list-style-type: none;
      padding: 1em 1em 0;
      border-bottom: 1px solid #ddd;
      margin-bottom: 1em;
      
      .links {
        position: absolute;
        top: 1em;
        right: 1em;
      }
    }
  }
  .selected-answer{
  	background: #ffc;
  }  
}
