// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash{
  color: red;
  padding: 2px;
  font-size: 12x;
}
