.user-questions, .user-answers {
  ul {
    margin: 0;
    list-style-type: none;
    padding: 1em 0;

    li {
      @include clearfix;
      padding-bottom: 0.5em;
      border-bottom: 1px solid #ddd;
      margin-bottom: 0.5em;

      .title, .description {
        @include columns(8);
      }

      .meta {
        @include columns(3, true);
        text-align: right;
      }
    }
  }
}

.title {
  display: inline;
  margin-right: 10px;
  margin: 0px;
}

#user-list {
  li {
    list-style-type: none;
    padding-bottom: 3px;
    padding-top: 3px;
  }
}

